
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0b111e; 
  color: #fff;
  font-family: "Poppins", sans-serif;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 100px; 
  padding-bottom: 80px; 
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}